In [1]:
import pandas as pd

In [24]:
import numpy as np

In [3]:
import os

In [5]:
dir_content = os.listdir()

In [13]:
dir_content = [filename for filename in dir_content if filename.find('pong') > -1]

In [14]:
dir_content

['1524378176-pong-ram-deterministic-v0.csv']

In [15]:
df = pd.read_csv(dir_content[0])

In [16]:
df.head()

   Unnamed: 0  actions-input  rewards
0           0              0      0.0
1           1              0      0.0
2           2              0      0.0
3           3              3      0.0
4           4              2      0.0

In [21]:
df[df.rewards > 0.0]

       Unnamed: 0  actions-input  rewards
216           216              3      1.0
997           997              3      1.0
3010         3010              0      1.0
3192         3192              1      1.0
3410         3410              0      1.0
5168         5168              3      1.0
6193         6193              5      1.0
7740         7740              4      1.0
9617         9617              5      1.0
10355       10355              2      1.0
10924       10924              0      1.0
11032       11032              3      1.0
11286       11286              0      1.0
12018       12018              3      1.0
12896       12896              0      1.0
15365       15365              2      1.0

In [23]:
df.head(217)

     Unnamed: 0  actions-input  rewards
0             0              0      0.0
1             1              0      0.0
2             2              0      0.0
3             3              3      0.0
4             4              2      0.0
5             5              5      0.0
6             6              0      0.0
7             7              3      0.0
8             8              0      0.0
9             9              1      0.0
10           10              2      0.0
11           11              3      0.0
12           12              3      0.0
13           13              0      0.0
14           14              2      0.0
15           15              1      0.0
16           16              0      0.0
17           17              0      0.0
18           18              5      0.0
19           19              2      0.0
20           20              0      0.0
21           21              4      0.0
22           22              1      0.0
23           23              3      0.0
24           24              0      0.0
25           25              0      0.0
26           26              0      0.0
27           27              5      0.0
28           28              2      0.0
29           29              5      0.0
..          ...            ...      ...
187         187              3      0.0
188         188              3      0.0
189         189              3      0.0
190         190              0      0.0
191         191              1      0.0
192         192              0      0.0
193         193              1      0.0
194         194              5      0.0
195         195              3      0.0
196         196              0      0.0
197         197              3      0.0
198         198              2      0.0
199         199              1      0.0
200         200              1      0.0
201         201              1      0.0
202         202              5      0.0
203         203              5      0.0
204         204              0      0.0
205         205              5      0.0
206         206              5      0.0
207         207              4      0.0
208         208              5      0.0
209         209              0      0.0
210         210              4      0.0
211         211              3      0.0
212         212              3      0.0
213         213              1      0.0
214         214              5      0.0
215         215              3      0.0
216         216              3      1.0

[217 rows x 3 columns]

In [28]:
first_sequence = df['actions-input'][:217]

In [72]:
list_sequence = first_sequence.tolist()
treated_sequence = []
start = 0
incremental= 4
limit = 4
reversed_sequence = list_sequence[::-1]
#reversed_sequence[start:limit]
#reversed_sequence[limit+4:]
reversed_sequence_len = lambda: range(len(reversed_sequence))
for _ in reversed_sequence_len():
    done = not reversed_sequence[start:limit]
    if not done: treated_sequence.append(reversed_sequence[start:limit])
    reversed_sequence = reversed_sequence[limit+incremental:]
    start = start + incremental
    limit = limit + incremental
    if done: break
treated_sequence

[[3, 3, 5, 1],
 [0, 5, 5, 1],
 [3, 3, 4, 3],
 [1, 5, 5, 4],
 [3, 1, 0, 3],
 [5, 0, 0, 2],
 [0, 4, 3, 4],
 [0, 0, 0, 5],
 [0, 3, 0, 5]]

In [40]:
arr_first_sequence = np.array(first_sequence.tolist())

In [41]:
arr_first_sequence

array([0, 0, 0, 3, 2, 5, 0, 3, 0, 1, 2, 3, 3, 0, 2, 1, 0, 0, 5, 2, 0, 4,
       1, 3, 0, 0, 0, 5, 2, 5, 5, 2, 1, 1, 2, 1, 5, 4, 0, 1, 2, 5, 1, 4,
       4, 5, 0, 0, 0, 5, 0, 2, 5, 3, 0, 5, 1, 3, 3, 2, 1, 2, 4, 1, 1, 3,
       0, 0, 1, 4, 4, 1, 1, 3, 0, 1, 0, 0, 5, 5, 4, 4, 3, 4, 0, 4, 1, 3,
       0, 3, 5, 4, 5, 1, 1, 3, 3, 5, 2, 2, 3, 3, 3, 5, 4, 2, 0, 4, 4, 0,
       5, 3, 0, 2, 0, 0, 5, 2, 1, 5, 4, 2, 5, 0, 0, 0, 0, 0, 1, 4, 3, 1,
       4, 2, 1, 3, 4, 4, 3, 4, 2, 3, 0, 1, 3, 4, 3, 2, 1, 3, 3, 0, 2, 5,
       0, 4, 2, 1, 5, 4, 1, 0, 3, 5, 1, 4, 5, 5, 1, 1, 5, 0, 4, 0, 1, 1,
       2, 3, 4, 1, 2, 5, 0, 4, 2, 3, 4, 3, 3, 3, 0, 1, 0, 1, 5, 3, 0, 3,
       2, 1, 1, 1, 5, 5, 0, 5, 5, 4, 5, 0, 4, 3, 3, 1, 5, 3, 3])

In [42]:
help(np.array)

Help on built-in function array in module numpy.core.multiarray:

array(...)
    array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)

    Create an array.

    Parameters
    ----------
    object : array_like
        An array, any object exposing the array interface, an object whose
        __array__ method returns an array, or any (nested) sequence.
    dtype : data-type, optional
        The desired data-type for the array.  If not given, then the type will
        be determined as the minimum type required to hold the objects in the
        sequence.  This argument can only be used to 'upcast' the array.  For
        downcasting, use the .astype(t) method.
    copy : bool, optional
        If true (default), then the object is copied.  Otherwise, a copy will
        only be made if __array__ returns a copy, if obj is a nested sequence,
        or if a copy is needed to satisfy any of the other requirements
        (`dtype`, `order`, etc.).
    order : {'K', 'A', 'C', 'F'}, optional
        Specify the memory layout of the array. If object is not an array, the
        newly created array will be in C order (row major) unless 'F' is
        specified, in which case it will be in Fortran order (column major).
        If object is an array the following holds.

        ===== ========= ===================================================
        order  no copy                     copy=True
        ===== ========= ===================================================
        'K'   unchanged F & C order preserved, otherwise most similar order
        'A'   unchanged F order if input is F and not C, otherwise C order
        'C'   C order   C order
        'F'   F order   F order
        ===== ========= ===================================================

        When ``copy=False`` and a copy is made for other reasons, the result is
        the same as if ``copy=True``, with some exceptions for `A`, see the
        Notes section. The default order is 'K'.
    subok : bool, optional
        If True, then sub-classes will be passed-through, otherwise
        the returned array will be forced to be a base-class array (default).
    ndmin : int, optional
        Specifies the minimum number of dimensions that the resulting
        array should have.  Ones will be pre-pended to the shape as
        needed to meet this requirement.

    Returns
    -------
    out : ndarray
        An array object satisfying the specified requirements.

    See Also
    --------
    empty, empty_like, zeros, zeros_like, ones, ones_like, full, full_like

    Notes
    -----
    When order is 'A' and `object` is an array in neither 'C' nor 'F' order,
    and a copy is forced by a change in dtype, then the order of the result is
    not necessarily 'C' as expected. This is likely a bug.

    Examples
    --------
    >>> np.array([1, 2, 3])
    array([1, 2, 3])

    Upcasting:

    >>> np.array([1, 2, 3.0])
    array([ 1.,  2.,  3.])

    More than one dimension:

    >>> np.array([[1, 2], [3, 4]])
    array([[1, 2],
           [3, 4]])

    Minimum dimensions 2:

    >>> np.array([1, 2, 3], ndmin=2)
    array([[1, 2, 3]])

    Type provided:

    >>> np.array([1, 2, 3], dtype=complex)
    array([ 1.+0.j,  2.+0.j,  3.+0.j])

    Data-type consisting of more than one element:

    >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
    >>> x['a']
    array([1, 3])

    Creating an array from sub-classes:

    >>> np.array(np.mat('1 2; 3 4'))
    array([[1, 2],
           [3, 4]])

    >>> np.array(np.mat('1 2; 3 4'), subok=True)
    matrix([[1, 2],
            [3, 4]])